.containerPrincipal {
  /* border: 2px solid red; */
  width: 55vh;
  height: 95vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerPrincipal h1 {
  font-family: "Rowdies";
  font-size: 35px;
  color: #252525;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerPrincipal h3 {
  margin: 0;
  font-family: "Rowdies";
  color: #353535;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.containerPrincipal h5 {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #353535;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.imagemLanche {
  width: 485px; /* Largura desejada em pixels */
  height: auto;
  margin-top: 30px;
  margin-left: 15px;
  /* border: 2px solid blue; */
}
.containerPrincipal div.botaoLoginRegistro {
  position: absolute;
  margin-top: 40px;
  /* border: 2px solid black; */
  width: 55vh;
  height: 50vh;
}
.containerPrincipal div.botaoLoginRegistro button.botaoRegistro {
  margin: 0;
  font-family: "Rowdies";
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 60px;
  background-color: #32b768;
  border-color: #32b768;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(71, 70, 73, 0.3);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.containerPrincipal div.botaoLoginRegistro button.botaoLogin {
  margin: 0;
  font-family: "Rowdies";
  color: #f3f3f3;
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 60px;
  background-color: #7acea2;
  border-color: #7acea2;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(71, 70, 73, 0.3);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}
