
.inicio h1 {
    font-family: 'Rowdies';
    font-size: 35px;
    color: 	#252525;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.inicio h3 {
    margin: 0;
    font-family: 'Rowdies';
    color: 	#353535;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 80%; */
}

.inicio h5 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: 	#353535;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 80%; */
    
}

.inicio button.botaoCriar1 {
    margin: 0;
    font-family: 'Rowdies';
    color: 	#ffffff;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 60px;
    background-color: #32B768 ;
    border-color: #32B768;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(71, 70, 73, 0.3);
    transition: box-shadow 0.3s ease;
    
    
}

.inicio button.botaoLogin1 {
    margin: 0;
    font-family: 'Rowdies';
    color: 	#f3f3f3;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 60px;
    background-color: #7acea2 ;
    border-color: #7acea2;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(71, 70, 73, 0.3);
    transition: box-shadow 0.3s ease;
}


.inicio button.botaoCriar1:hover {
    box-shadow: 0 4px 6px rgba(71, 70, 73, 0.6); /* Adiciona uma sombra no hover */
}

.inicio button.botaoLogin1:hover {
    box-shadow: 0 4px 6px rgba(71, 70, 73, 0.6); /* Adiciona uma sombra no hover */
}


.inicio img.imagemLanche {
    display: block;
    width: 500px;
    margin-left: 51%;
    margin-right: auto;
    transform: translate(-50%);
    
}





